/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 16, 2026, 12:00:28 AM
    Author     : ASUS
*/

body{
    background:#f5f5f5;
}

/* container */
.form-container{
    max-width:900px;
    margin:auto;
    margin-top:40px;
}

/* box */
.form-box{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* title */
.form-box h2{
    margin-bottom:25px;
}

/* input */
.form-control{
    height:40px;
}

/* button */
.btn-primary{
    margin-top:10px;
    padding:10px 25px;
}